<form class=" mx-auto w-50" action="" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="city" value="" placeholder="Indiquez la ville">
        <div class="input-group-append">
            <button class="input-group-text">Valider</button>
        </div>
    </div>
</form>
